/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    font-size: small;
    padding-bottom: 20px;
  }
  header img {
    width: 46% !important;
  }
  header nav li {
    display: inline-block;
  }
  img {
    width: 50px;
  }
  main {
    font-size: x-small;
  }
  body iframe {
    max-height: 110px;
  }
  section h2 {
    background-color: #969494;
    position: relative;
    font-size: smaller;
  }
  input {
    width: 48%;
  }
  table {
    max-width: 350px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
  header {
    width: 100%;
  }
  header nav li {
    display: inline-block;
  }
  input {
    width: 76%;
  }
  header .brand img {
    margin-bottom: 20px;
  }
  section h2 {
    background-color: #969494;

    font-size: smaller;
  }
  table {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
header img {
  width: 260px;
}
@media screen and (min-width: 1200px) {
  header img {
    float: left;
  }

  section {
    vertical-align: middle;
    max-width: 48%;
    display: inline-block;
  }
  iframe {
    vertical-align: middle;
    max-width: 50%;
    height: 400px;
    display: inline-block;
    margin-right: -5;
  }
  header nav li {
    display: inline-block;
  }
  header p {
    /*  text-align: left;
    margin-top: 25px;
    display: inline-block;
    justify-content: ; */
  }
  main {
    font-size: medium;
  }
  header {
    max-width: 100%;

    max-height: 150px;
  }
  table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  input {
    width: 380px;
  }
  main div {
    width: 33%;

    display: inline-block;
  }
}
nav {
  display: inline-block;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}
* {
  box-sizing: border-box;
}
hr {
  display: none;
} /* rimuove l'elemento */

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(180deg, rgba(0, 160, 198, 1) 0%, rgba(3, 109, 134, 1) 68%);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
}
header div img {
  margin-bottom: 20px;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}
section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(0deg, rgba(53, 53, 53, 1) 0%, rgba(5, 85, 103, 1) 68%);
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}
footer a {
  color: fuchsia;
}
